{% import "_includes/forms" as forms %}

<div class="body">

	<h1>{{ 'Campaign Snapshot'|t }}</h1>

	<table class="data fullwidth">
		<tbody>
			<tr>
				<td><strong>{{ "Subject"|t }}</strong></td>
				<td>{{ campaignEmail.title }}</td>
			</tr>
			<tr>
				<td><strong>{{ "From Name"|t }}</strong></td>
				<td>{{ campaignEmail.fromName }}</td>
			</tr>
			<tr>
				<td><strong>{{ "From Email"|t }}</strong></td>
				<td>{{ campaignEmail.fromEmail }}</td>
			</tr>
			<tr>
				<td><strong>{{ "Reply To"|t }}</strong></td>
				<td>{{ campaignEmail.replyToEmail }}</td>
			</tr>
		</tbody>
	</table>
	<br>

	<table class="data fullwidth">
		<tbody>
			<tr style="background-color:#eee;font-size:14px;">
				<th colspan="2">{{ 'Content'|t }}</th>
			</tr>
			<tr>
				<td>
					<strong>{{ "HTML"|t }}</strong>
				</td>
				<td>
					{% if craft.sproutEmail.doesSiteTemplateExist(campaignType.template) %}
						<a href="{{ campaignEmail.getUrl() }}" title="{{ campaignEmail.title }}" target="_blank">{{ "Preview"|t }}</a>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>
					<strong>{{ "Text"|t }}</strong>
				</td>
				<td>
					{% if craft.sproutEmail.doesSiteTemplateExist(campaignType.template) %}
						<a href="{{ campaignEmail.getUrl() ~ '?type=text' }}" title="{{ campaignEmail.title }}" target="_blank">{{ "Preview"|t }}</a>
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
	<br>

	<table class="data fullwidth">
		<tbody>
			<tr style="background-color:#eee;font-size:14px;">
				<th colspan="2">{{ 'Recipients'|t }}</th>
			</tr>
			{% for list in lists %}
			<tr class="snapshot-recipients">
				<td colspan="2">
					{{ list.name }}<span class="light"><i>(</i>{{ list.stats.member_count }}<i>)</i></span>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

</div>

<div class="footer">

	<div class="buttons right">
		<button
			data-action="sproutEmail/campaignEmails/sendTestEmailModal"
			data-email-id="{{ campaignEmail.id }}"
			class="btn actions">{{ "Send Test"|t }}
		</button>
		<button
			data-action="sproutEmail/campaignEmails/scheduleCampaignEmail"
			data-email-id="{{ campaignEmail.id }}"
			class="btn submit actions">{{ "Schedule Campaign"|t }}
		</button>


		{#<button#}

			{#data-action="sproutEmail/campaignEmails/sendCampaignEmail"#}
			{#data-email-id="{{ campaignEmail.id }}"#}
			{#data-campaign-type-id="{{ campaignType.id }}"#}
			{#class="btn submit icon actions send-campaign">{{ "Send Campaign"|t }}#}
		{#</button>#}
	</div>
	<div class="buttons left">
		{#<button#}
			{#data-action="sproutEmail/campaignEmails/sendCampaignEmail"#}
			{#data-email-id="{{ campaignEmail.id }}"#}
			{#class="btn submit icon actions send-campaign">{{ "Schedule Campaign"|t }}#}
		{#</button>#}
		{#<button class="btn">{{ "Send Test"|t }}</button>#}
		<button id="cancel" class="btn">{{ "Cancel"|t }}</button>
	</div>

</div>
