{% import "_includes/forms" as forms %}

<div class="body">

	<h1>{{ 'Campaign Snapshot'|t }}</h1>

	<table class="data fullwidth">
		<tbody>
			<tr style="background-color:#eee;font-size:14px;">
				<th colspan="2">{{ 'Overview'|t }}</th>
			</tr>
			<tr>
				<td><strong>{{ "Subject"|t }}</strong></td>
				<td>{{ campaignEmail.title }}</td>
			</tr>
			<tr>
				<td><strong>{{ "From Name"|t }}</strong></td>
				<td>{{ campaignEmail.fromName }}</td>
			</tr>
			<tr>
				<td><strong>{{ "From Email"|t }}</strong></td>
				<td>{{ campaignEmail.fromEmail }}</td>
			</tr>
			<tr>
				<td><strong>{{ "Reply To"|t }}</strong></td>
				<td>{{ campaignEmail.replyToEmail }}</td>
			</tr>
		</tbody>
	</table>
	<br>

	{% set emailUrl = cpUrl('sproutemail/preview/campaign/' ~ campaignEmail.id) %}

	<table class="data fullwidth">
		<tbody>
			<tr style="background-color:#eee;font-size:14px;">
				<th colspan="2">{{ 'Content'|t }}</th>
			</tr>
			<tr>
				<td>
					<strong>{{ "HTML"|t }}</strong>
				</td>
				<td>
					<a href="{{ cpUrl('sproutemail/campaigns/edit/' ~ campaignEmail.id) }}">{{ "Edit"|t }}</a> or
					<a href="{{ emailUrl }}" title="{{ campaignEmail.title }}" onclick="window.open('{{ emailUrl }}', 'newwindow',
						'width=920, height=600'); return false;">{{ "Preview"|t }}</a>
				</td>
			</tr>
			<tr>
				<td>
					<strong>{{ "Text"|t }}</strong>
				</td>
				<td>
					<a href="{{ emailUrl ~ '?type=text' }}" title="{{ campaignEmail.title }}" onclick="window.open
						('{{ emailUrl }}', 'newwindow',
						'width=920, height=600'); return false;">{{
						"Preview"|t }}</a>
				</td>
			</tr>
		</tbody>
	</table>
	<br>

	<table class="data fullwidth">
		<tbody>
			<tr style="background-color:#eee;font-size:14px;">
				<th colspan="2">{{ 'Recipients'|t }}</th>
			</tr>
			<tr class="snapshot-recipients">
			{% if lists|length %}
				{% for list in lists %}
					<td colspan="2">
						{{ list.name }}<span class="light"><i>(</i>{{ list.stats.member_count }}<i>)</i></span>
					</td>
				{% endfor %}
			{% else %}
				<td colspan="2">
					{{ "No recipients defined."|t }} <a href="{{ cpUrl('sproutemail/campaigns/edit/' ~ campaignEmail.id) }}">{{
						"Add Recipients"|t }}</a>
				</td>
			{% endif %}
			</tr>
		</tbody>
	</table>

</div>

<div class="footer">

	<div class="buttons right">
		<button {% if not campaignEmail.isReadyToTest() %}disabled{% endif %}
			data-action="sproutEmail/campaignEmails/sendTestEmailModal"
			data-email-id="{{ campaignEmail.id }}"
			class="btn actions {% if not campaignEmail.isReadyToTest() %}disabled{% endif %}">
			{{ "Send Test"|t }}
		</button>
		<button {% if not campaignEmail.isReadyToSend() %}disabled{% endif %}
			data-action="sproutEmail/campaignEmails/scheduleCampaignEmail"
			data-email-id="{{ campaignEmail.id }}"
			class="btn submit actions {% if not campaignEmail.isReadyToSend() %}disabled{% endif %}">
			{{ "Schedule Campaign"|t }}
		</button>
	</div>
	<div class="buttons left">
		<button id="cancel" class="btn">{{ "Cancel"|t }}</button>
	</div>

</div>
